.actions .items {
	margin: 1rem auto 0.5rem;
	width: 90%;
	border-radius: 3px;
	font-family: "Noto Sans TC", sans-serif;
	font-weight: 900;
	word-break: break-all;
	opacity: 0;
}

.actions .fixed {
	margin: 1rem auto 0.5rem;
	width: 90%;
	border-radius: 3px;
	font-family: "Noto Sans TC", sans-serif;
	font-weight: 900;
	text-align: center;
}

.actionsImg {
	width: 100%;
}

.fixed .btn, .items .btn {
	padding-left: 0;
	padding-right: 0;
	line-height:1rem;
	width: 40px;
	height: 2.4rem;
	font-size: 85%;
	margin-bottom: 3px;
}

.items-head {
	text-align: center;
}
.items-tiltle {
	font-size: 2rem;
}
.items-icon {
	line-height: 3.6rem;
	font-size: 3rem;
}
.items-icon a {
	color: #9933cc;
	position: absolute;
	right: 1rem;
}
.items-detail {
	font-size: 1.2rem;
	line-height: 1.4rem;
}
.items-tiltle, .items-tiltle-ext {
	padding-left: 5px;
	padding-right: 5px;
}
.items-detail {
	padding-left: 10px;
	padding-right: 10px;
}

.live {
	background-color: #33ffff;
}
.live-ext {
	border: 3px solid #11dddd;
	text-shadow: 1px 1px 0 #11dddd, -1px -1px 0 #11dddd, 1px -1px 0 #11dddd, -1px 1px 0 #11dddd, 1px 1px 0 #11dddd;
}
.music {
	background-color: #ff5151;
}
.dvdbd {
	background-color: #dd7700;
}
.network {
	background-color: #bb88cc;
}
.tvshow {
	background-color: #cccccc;
}
.anime {
	background-color: #ff88c2;
}
.movie {
	background-color: #7b7b7b;
}
.radio {
	background-color: #e0e066;
}
.book {
	background-color: #bb8800;
}
.other {
	background-color: #66ff66;
}
.other-ext {
	border: 3px solid #44dd44;
	text-shadow: 1px 1px 0 #44dd44, -1px -1px 0 #44dd44, 1px -1px 0 #44dd44, -1px 1px 0 #44dd44, 1px 1px 0 #44dd44;
}

.it-momoclo-red {
	background-color: #cc3333;
}
.it-momoclo-purple {
	background-color: #9933cc;
}
.it-momoclo-pink {
	background-color: #cc3399;
}
.it-momoclo-yellow {
	background-color: #cccc33;
}
.it-momoclo-all {
	background-color: #ffffff;
}

.datatime {
	color: #9933cc;
	text-align: center;
	text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	font-family: "Noto Sans TC", sans-serif;
	font-size: 2rem;
	font-weight: 900;
	background-color: #888888;
	border-radius: 3px;
	border: 6px solid #9933cc;
	line-height: 5rem;
}

.item-disable {
	display: none;
	opacity: 0;
}