@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
.actions {
	text-align: center;
}

.actions .items {
	margin: 1rem auto 0.5rem;
	width: 90%;
	border-radius: 3px;
	font-family: "Noto Sans TC", sans-serif;
	font-weight: 800;
	word-break: break-all;
}

.actions .fixed {
	margin: 1rem auto 0.5rem;
	width: 90%;
	border-radius: 3px;
	font-family: "Noto Sans TC", sans-serif;
	font-weight: 800;
}

.actionsImg {
	width: 100%;
}

.fixed .btn, .items .btn {
	padding-left: 0;
	padding-right: 0;
	width: 50px;
	font-size: 75%;
	margin-bottom: 5px;
}

.live {
	background-color: #33ffff;
}
.music {
	background-color: #ff3333;
}
.dvdbd {
	background-color: #dd7700;
}
.network {
	background-color: #bb88cc;
}
.tvshow {
	background-color: #997755;
}
.anime {
	background-color: #ff88c2;
}
.movie {
	background-color: #7b7b7b;
}
.radio {
	background-color: #e0e066;
}
.book {
	background-color: #cccccc;
}
.other {
	background-color: #66ff66;
}

.it-momoclo-red {
	background-color: #cc3333;
}
.it-momoclo-purple {
	background-color: #9933cc;
}
.it-momoclo-pink {
	background-color: #cc3399;
}
.it-momoclo-yellow {
	background-color: #cccc33;
}
.it-momoclo-all {
	background-color: #ffffff;
}

.datatime {
	color: #9933cc;
	text-align: center;
	text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	margin-left: auto;
	margin-right: auto;
	width: 35%;
	font-family: "Noto Sans TC", sans-serif;
	font-weight: 800;
	background-color: #888888;
	border-radius: 3px;
	border: 2px solid #9933cc;
}