@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
.actions {
	text-align: center;
}

.actions .items {
	margin: 1rem auto 0.5rem;
	width: 90%;
	border-radius: 3px;
	font-family: "Noto Sans TC", sans-serif;
	font-weight: 800;
}

.actions .fixed {
	margin: 1rem auto 0.5rem;
	width: 90%;
	border-radius: 3px;
	font-family: "Noto Sans TC", sans-serif;
	font-weight: 800;
}

.actionsImg {
	width: 100%;
}

.fixed .btn, .items .btn {
	padding-left: 0;
	padding-right: 0;
	width: 50px;
	font-size: 75%;
	margin-bottom: 5px;
}

.network {
	background-color: #bb88cc;
}
.tvshow {
	background-color: #997755;
}
.radio {
	background-color: #e0e066;
}

#it6 {
	background-color: #cc3333;
}
#it5 {
	background-color: #9933cc;
}
#it4 {
	background-color: #cc3399;
}
#it3 {
	background-color: #cccc33;
}
#it2 {
	background-color: #ffffff;
}

.datatime {
	color: #9933cc;
	text-align: center;
	text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	margin-left: auto;
	margin-right: auto;
	width: 35%;
	font-family: "Noto Sans TC", sans-serif;
	font-weight: 800;
	background-color: #888888;
	border-radius: 3px;
	border: 2px solid #9933cc;
}