.back-to {
	width: 95px;
	height: 30px;
	bottom: 0px;
	display: block;
	margin: 0;
	text-align: center;
	line-height: 26px;
	position: fixed;
	z-index: 100;
	color: #000000;
	background-color: #888888;
	-moz-background-size: 60%;
	-o-background-size: 60%;
	-webkit-background-size: 60%;
	background-size: 60%;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #000000;
}
.option-lr {
	font-size: 1rem;
}
.anchor2 {
	display: none;
}
.glyphicon-search {
	color: #000000;
	position: relative;
	top: 2px;
	right: 3px;
}
@media (min-width: 1201px) {
	.back-to {
		right: 50%;
		margin-right: -580px;
	}
	.anchor1 {
		margin-bottom: 102px;
	}
	.anchor2 {
		margin-bottom: 66px;
	}
	.anchor3 {
		margin-bottom: 30px;
	}
}
@media (max-width: 1200px) {
	.back-to {
		right: 30px;
		margin-right: 0;
	}
	.anchor1 {
		margin-bottom: 102px;
	}
	.anchor2 {
		margin-bottom: 66px;
	}
	.anchor3 {
		margin-bottom: 30px;
	}
}
@media (max-width: 639px) {
	.back-to {
		right: 15px;
	}
	.anchor1 {
		margin-bottom: 87px;
	}
	.anchor2 {
		margin-bottom: 51px;
	}
	.anchor3 {
		margin-bottom: 15px;
	}
}
.back-to:hover, .glyphicon-search:hover {
	color: #ffffff;
	border-color: #ffffff;
}