.back-to {
	width: 55px;
	height: 24px;
	bottom: 0px;
	display: block;
	margin: 0;
	text-align: center;
	position: fixed;
	z-index: 100;
	color: #000000;
	background-color: #888888;
	-moz-background-size: 60%;
	-o-background-size: 60%;
	-webkit-background-size: 60%;
	background-size: 60%;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #000000;
}
@media (min-width: 1201px) {
	.back-to {
		right: 50%;
		margin-right: -580px;
	}
	.anchor1 {
		margin-bottom: 56px;
	}
	.anchor2 {
		margin-bottom: 30px;
	}
}
@media (max-width: 1200px) {
	.back-to {
		right: 30px;
		margin-right: 0;
	}
	.anchor1 {
		margin-bottom: 56px;
	}
	.anchor2 {
		margin-bottom: 30px;
	}
}
@media (max-width: 639px) {
	.back-to {
		right: 15px;
	}
	.anchor1 {
		margin-bottom: 41px;
	}
	.anchor2 {
		margin-bottom: 15px;
	}
}
.back-to:hover {
	color: #ffffff;
	border-color: #ffffff;
}