body {
	background-color: #000000;
}

.fullContain {
	min-height: 100%;
	position: relative;
	overflow: hidden;
}

.arrow {
	text-align: center;
}
#arrowBody {
	width: 60%;
	height: 500px;
}
#arrowHead {
	width:95%;
}

.actions {
	text-align: center;
}
.actions div {
	background-color: green;
	border-radius: 3px;
}

a, a:link, a:visited, a:hover {
	text-decoration: none;
}